.track-ticker {
  border-top-width: 1px;
  user-select: none;
  pointer-events: none;
}

.track-seeker {
  transform: rotate(180deg);
}

.user-select-none {
  user-select: none;
}

.timeviewer {
  transform: translateX(-50%);
}

.user-select-auto {
  user-select: auto;
}
